django[argon2]==2.2.10
django-extensions==3.0.1
django-model-utils==4.0.0
django-mptt==0.11.0

# database stuff
psycopg2-binary==2.8.4

# front-end stuff
Jinja2==2.11.1

# redis stuff
redis==3.4.1
django-redis==4.11.0

# misc
ipython==7.13.0
