django[argon2]==3.0.8
django-extensions==3.0.8
django-model-utils==4.0.0
django-mptt==0.11.0

# database stuff
psycopg2-binary==2.8.5

# front-end stuff
Jinja2==2.11.2

# redis stuff
redis==3.5.3
django-redis==4.12.1

# misc
ipython==7.16.1
